/*scrollbar*/
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.noteContainer .noteBox textarea::-webkit-scrollbar {
  width : 10px;
  height : 10px;
}

.noteContainer .noteBox textarea::-webkit-scrollbar-thumb {
  border-radius : 10px;
  box-shadow : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background : #535353;
  cursor: pointer;
}

.noteContainer .noteBox textarea::-webkit-scrollbar-track {
  border-radius : 10px;
  background : #dddddd;
}
